/* Form Container*/
.form_container {
  display: flex;
  min-height: 600px;
  background-image: url("../../../assets/images/contactFormImagage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
  border-radius: 0.5rem;
  margin: 1.25rem 0;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
